<h1><%= @category.name %></h1>

<p><%= @article.title %>
<%= @article.body %>
<%= @article.price %></p>

<%= link_to "Edit this Article", edit_category_article_path(@category, @article) %>
<%= link_to 'Delete Article', category_article_path(@category, @article), method: :delete, data: { confirm: "Are you sure?" } %>
